*.idea
.DS_Store
*.pth
*.pyc
*.ipynb
__pycache_
vision_rush_image*

dataset/
output/
*.tar.gz
*.zip
*.rar

# 忽略日志文件
*.log

# 忽略配置文件（如果您不想将其包含在版本控制中）
# config.yaml

# 忽略临时文件
*.tmp
*.bak
*.swp

# 忽略系统文件
Thumbs.db
.vscode/